@import 'modules/_variable.scss';
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Syncopate');
@import url('https://use.fontawesome.com/6baadd765c.js');
@import url('https://fonts.googleapis.com/css?family=Nova+Flat');


header {
	div {
		background-color : $primary-color;
		width: 100%;
		height : 20em;
		display:flex;
		align-content: flex-start;
		div:first-child {
			background-color : $secondary-color;
			width: 20%;
			height : 20em;
			img{
				width: 30%;
				height: 15em;			
			}
		}
		div:last-child {
			background-color :$secondary-color;
			margin: 5% -20% 15% 20%;
			padding-bottom : -20%;
			width: 27em;
			height: 10em;
			ul {
				margin-bottom: 20%;
				margin-right: 20%;
			}
			h1{
				font-family: 'Syncopate';
			}
			h2 {
				font-family: 'Righteous';
				font-size: 1.8em;
			}
		}
	}
}



body {
	margin:0;
	font-family: 'Nova Flat';
}

ul {
  list-style-type: none;
}


#side-nav {
	display: flex;
	justify-content: space-between;
	margin-top: 5em;
	nav {
		background-color: $secondary-color;
		padding-right: 5em;
		ul {
			li {
				margin-top : 6em;
				margin-bottom: 6em;
				border: 1px black solid;
				box-shadow: 1em 1em 1em black;
				background-color: $primary-color;
				color: $secondary-color;
			}
		}
	}	
	main {
		margin: 4% 10% 10% 10%;
		section{
			margin-top : 3em;
			margin-bottom: 3em; 
			ul{
				li{
					line-height: 2em;
				}
			}	
		}
	}
	aside {
		background-color: $secondary-color;
		ul{
			margin-top: 2em;
			li:first-child{
				margin:auto;
			}
			li{
				line-height: 4em;
			}
		}
	}
}

footer{
	display:flex;
	justify-content: center;
	ul{
		margin: auto;
		li{
			display:inline;
			margin-right: 2em;
			margin-left: 2em;
		}
	}
	div {
		margin-bottom: auto;
		margin-top: auto; 
	}
}

