@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Syncopate');
@import url('https://fonts.googleapis.com/css?family=Nova+Flat');



body {
	margin:0;
	font-family: 'Nova Flat';
}

ul {
  list-style-type: none;
}

.line {
	width:100%;
	margin:auto;
	height:1px;
	background-color: black;
}
